@charset "utf-8";
/* CSS Document */

/**
 * 初始化浏览器默认样式
 **/

body {margin:0; padding:0; font:12px "\5B8B\4F53";background:#fff; width:100%; font-family:'Microsoft YaHei',sans-serif;    background: url(../images/bg5.jpg) no-repeat fixed 0 0px;background-size: cover;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,span{padding:0; margin:0;font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei; }   
table{width: 100%;font-size:12px;}
td,tr,th{border:1px #333 solid}
li{list-style-type:none;}
img{vertical-align:middle;border:0;}
ol,ul {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}


a {color:#333; text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#333;text-decoration:none;}
a:active {color:#333;}

.clear{content: "";clear: both;}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}

i{vertical-align:middle;cursor: pointer;}
.fa.fa-7{font-size:7em;}
.fa.fa-5{font-size:5em;}
.fa.fa-4{font-size:5em;}
.fa.fa-3{font-size:3em;}
.fa.fa-2{font-size:2em;}
.ad_form{
    position:fixed;
    display:none;
    width:250px;
    padding:20px;
    margin-left: -20px;
    margin-top: -40px;
    background-color:rgba(0,0,0,0.8);
    border-radius: 20px;
    color:#fff;
    font-size:1.2em;
    line-height:30px;
    text-align: center;
    z-index: 111;
}
.ad_form i{
    color: #70b7fb;
    position: absolute;
    right: 20px;
    top: 55px;
    font-size: 19px;
    background-color: #fff;
    padding: 2px 9px;
    border-radius: 3px;
}
.ad_form input[type="text"]{
    position: relative;
    width: 74%;
    margin: 0;
    line-height: 35px;
    height: 35px;
    padding-left: 5px;
    border: #70b7fb 1px solid;
    border-radius: 3px;
    margin-right: 16%;
    margin-top: 5px;
}
.right{
    float:right;
}
.right:after{
    content:"";
    clear:both;
}
.left{
    float:left;
}
.left:after{
    content:"";
    clear:both;
}
/************************社区首页************************/
.banner a.left,.banner a.right{
    background:none;
}
.banner img{
    height:180px !important;
    width:100%;
}
.weather{
    display:none;
    width:100%;
    background:#f2f2f2;
    color:#333;
    font-size: 1.3em;
}
.weather p{
    padding:5px 7%;
}
.weather p iframe{
        height: 22px;
}
.center{
    margin-bottom: 40px;
    padding:5%;
}
.center .det_t{
    font-size:14px;
    color: #fff;
}
.center1{
    margin-bottom: 30px
}
.center_form{
    padding:2%;
    padding-bottom: 30px;
    margin-bottom: 0;
    min-height: 740px;
}
.center_form hr{
    border-color: #666
}
.ad_pers{
    font-size:14px;
    margin-top:20px;
    width: 70px;
    display:inline-block;
    text-align: center;
}
.ad_pers img{
    width:50px;
    height:50px;
    margin-right:3px;
}
.ad_pers span{
    margin-top:10px;
}
.pros1{
    margin-top:30px;
}
.pros1 li{
    margin-top:30px !important;
}
.pros li{
    float:left;
    width:30%;
    height:30%;
    margin-left:2.5%;
    margin-top:2.5%;
}
.pros li p{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
}
.pros li div{
    padding: 12px;
    border-radius: 10%;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: #f00;
    transform: rotate(45deg);
    -ms-transform:rotate(45deg);     /* IE 9 */
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);  /* Opera */
}
.pros li div img{
    width:100%;
    transform: rotate(-45deg);
    -ms-transform:rotate(-45deg);     /* IE 9 */
    -moz-transform:rotate(-45deg);    /* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
    -o-transform:rotate(-45deg);  /* Opera */
}
.pros li i{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: -3px;
    margin-left: -3px;
    color: #E39B41;
}
.foot{
    height: 55px;
    border-top: 1px #E39B41 solid;
    position: fixed;
    bottom: 0;
    padding: 0 5%;
    text-align: center;
    width: 100%;
    background: #A50000;
    background-position-x: 100%;
    background-size: 20px;
}
.foot a{
    text-align:center;
    color:#E39B41;
    display: inline-block;
}
.foot a:first-child{
    float: left;
}
.foot a:last-child{
    float: right;
}
/* .foot a.ad_foo{
    width:32%;
}
a.ad_foo:nth-child(1){
    text-align:left;
}
a.ad_foo:nth-child(3){
    text-align:right;
} */

/************************选择车辆************************/
.binding,.date_link{
    background-image: -webkit-linear-gradient(#f6700d, #e35807);
    background-image: -o-linear-gradient(#f6700d, #e35807);
    background-image: linear-gradient(#f6700d, #e35807); /* Firefox */ /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6700d', endColorstr='#e35807', GradientType='0'); /* IE*/
    color:#fff;
    height:90px;
    line-height:90px;
    padding:0 5%;
}
.date_link{
    text-align:center;
}
.binding i,.date_link i{
    line-height:90px;
}
.bind_center,.bind_center2{
    margin-bottom:75px;
}
.add_ob,.chos_date{
    vertical-align: super;
    margin-left:2%;
    line-height:90px;
    font-size:2em;
}
.chos_date{
    width:150px;
    vertical-align: middle;
}
.chos_date input{
    width:150px;
    line-height:90px;
    border:none;
    background:none;
    text-align:center;
}
.bind_center ul,.bind_center2 ul,.bind_center3 ul{
    width:90%;
    margin:auto;
}
.bind_center ul li,.bind_center2 ul li,.bind_center3 ul li{
    border-radius: 20px;
    border: 1px #ed9e40 solid;
    margin-top:20px;
    height:120px;
    font-size:1.3em;
    padding:0 5%;
}
.center .title_c{
    font-size:16px;
    text-align:center;
    line-height:30px;
    font-weight: 600;
    color: #fff;
    margin:0;
}
.bind_center ul li i.fa-trash,.bind_center2 ul li i.fa-trash{
    color:#E39B41;
}
.bind_center ul li p,.bind_center2 ul li p{
    line-height:30px;
    margin-left:2%;
    display:inline-block;
    vertical-align:middle;
    color:#fff;
}
.bind_center ul li i,.bind_center2 ul li i{
    color:#ccc;
    line-height:120px;

}
.bind_center ul li i.active,.bind_center2 ul li i.active{
    color:#E39B41;
}
.conf_btn{
    margin-top: 42px;
    display: none;
}
.conf_btn input{
    width:56px;
    line-height:30px;
    font-size:1.1em;
    background:#0ab2f5;
    border: none;
    border-radius: 3px;
    color:#fff;
}
.conf_btn input.del_btn{
    background: #999;
}
/*********************************个人中心*********************************/
.face{
    padding-top:40px;
    text-align: center;
    height:180px;
}
.face img{
    border: 5px #fff solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.fom_inp{
    width:90%;
    margin:auto;
    margin-top:30px;
}
.fom_inp select{
    height: 35px;
    line-height: 35px;
    width: 100%;
}
.fom_inp1{
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    border: #ed9e40 1px solid;
    line-height: 30px;
    padding: 10px;
    border-radius: 5px;
}
.fom_inp1 p{
    color: #fff;
}
.fom_inp1 span{
    padding: 2px;
    color: #fff;
}
.fom_inp i{
    width:15%;
    text-align:center;
    line-height:50px;
    padding-left:10px;
    padding-right:10px;
    background: #ddd;
    border-right:1px #0ab2f5 solid;
    color:#fff;

}
.fom_inp input,.fom_inp p{
    box-shadow: none;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border: 2px solid #E39B41;
    width:100%;
    color: #333;
    border-radius:5px;
    font-size: 1.3em;
}
.fom_inp p{
    line-height:28px;
}
.edit_me{
    width:70px;
    height:70px;
    background: #0ab2f5;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    margin:auto;
    padding-top:20px;
    margin-top:50px;
}
.save_btn,.save_btn_c{
    margin:30px 5% 30px;
    width:90%;
    color:#fff;
    background:#ff3d00;
    border: 1px #ed9e40 solid;
    border-radius: 5px;
    line-height:40px;
    font-size:1.5em;
}
.save_btn_c{
    background:#ccc;
    background: #ccc;
}
/*******************************账单缴费*******************************/
.check_pay{
    margin:auto;
    width:90%;
    text-align: center;
    height:200px;
    border: 1px #E39B41 solid;
    border-radius: 30px;
    margin-top:30px;
}
.check_pay i{
    padding-top:20px;
    height:50%;
    color:#E39B41;
}
.check_pay p{
    padding-top:20px;
    font-size:2em;
    color:#fff;
    height:50%;
    background:#E39B41;
    display:block;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.check_pay p span{
    font-size:0.7em;
}
/**********************************物业费**********************************/
.wait_pay{
    border-radius: 50%;
    background: #FFF;
    width:200px;
    height:200px;
    padding-left:10px;
    padding-top:10px;
    margin:10px auto 80px;
}
.small_linkl,.small_linkr{
    color: #e72e01;
    cursor: pointer;
    width: 110px;
    height: 110px;
    background: #FFF;
    font-size: 1.3em;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    padding-top: 43px;
    text-align: center;
    border: 3px #e72e01 solid;
}
.small_linkl{
    left:20px;
}
.small_linkr{
    right:20px;
}
.pay_info{
    width: 100%;
    position: absolute;
    bottom:0;
    background: #ef3701;
}
.payment{
    color: #e72e01;
    border: 5px #e83001 solid;
    border-radius: 50%;
    background: #FFF;
    width: 180px;
    height: 180px;
    text-align: center;
    padding-top: 30px;
}
.payment p{
    font-size: 2em;
}
.payment span{
    font-size:1.3em;
}
.payment input{
    background:#F54D0A;
    border:1px #ed9e40 solid;
    border-radius:2px;
    width:70px;
    color:#fff;
    height:30px;
    line-height:30px;
    font-size:1.2em;
}
.change_build{
    height:50%;
    border-top:1px solid #fff;
    color:#fff;
    padding:12% 10%;
    text-align:center;
}
.change_build .fa-5{
    font-size: 3em
}
.change_build span{
    font-size:2em;

}
.info_nom,.info_nom1{
    padding:7%;
    color:#fff;
    height: 50%;
    width:50%;
}
.info_nom{
    width:49%;
    border-right: 1px #fff solid;
}
.info_nom p,.info_nom1 p{
    font-size: 2em;
    white-space: nowrap;
    width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.info_nom span,.info_nom1 span{
    font-size:1.5em;
}
/***********************************绑定车辆***********************************/
.center h1{
    color:#ff3d00;
    text-align: center;
    font-size: 2em;
}
.colo{
    color:#666;
}
.ad_form p{
    font-size:1.3em;
}
.ad_form input{
    background:#fff;
    color:#333;
    height: 30px;
    line-height: 30px;
    margin:8px 0;
    width:90%;
    border: none;
    border-radius: 3px;
}
.mCSB_inside > .mCSB_container{
    margin-right:0 !important;
}
.mCSB_scrollTools .mCSB_draggerContainer{
    display:none;
}
#mb_con{
    margin-left:-20px;
}

/****************************************缴费记录****************************************/
.pay_center{

}
.pay_center ul {}
.pay_center ul li{

}
.detail_in div{
    padding:5%;
}
.detail_in div.clear{
    padding:0;
}
.detail_in{
    color:#0ab2f5;

}
.info_pay{
    padding-left:30px;
    width:60%;
    position:relative;
}
.info_pay i{
    width:30px;
    height:30px;
    font-size:1.5em;
    padding-top:5px;
    text-align:center;
    border: 1px solid #0ab2f5;
    border-radius: 50%;
    background:#fff;
    position:absolute;
    left:-15px;
}
.info_pay span{
    color: #fff;
    margin-left:10px;
}
.info_pay span.colo_b{
    color:#497b9e;
}
.info_pay span.colo_r{
    color:#f00;
}
i span{
    width:100px;
    font-size:0.8em;
    position:absolute;
    right:50px;
}
.line{
    width: 1px;
    height: 120%;
    position: fixed;
    right: 60%;
    border-right: 1px solid #E39B41;
    z-index: -10;
    top: -80px;
}
}
/******************************************代缴费用******************************************/
.bind_center3{
    padding-bottom: 50px;
}
.bind_center3 ul li{
    color:#fff;
    padding:20px;
    height:auto;
    position: relative;
}
.bind_center3 ul li div{
    margin-left:15px;
}
.bind_center3 p{
    display: inline-block;
    font-size: 1.5em;
    color:#fff;
    padding-left: 5%;
    line-height:60px;
}
.sub_paym{
    margin-right: 5%;
    background: #ff3d00;
    color: #fff;
    line-height: 30px;
    border-radius: 2px;
    border: 1px #ed9e40 solid;
    width: 80px;
    margin-top: 15px;
}
.info_p{
    margin-top:10px;
    font-size: 1.5em;
    color:#fff;
}
.info_p span{
    margin-left:10px;
}
.det_paym{
    padding-left: 2%;
    padding-right: 4%;
}
.det_paym li{ 
    margin-top:10px;
}
.det_paym span{
    color:#eee;
    font-size: 1.1em;
    margin-left:20px;
}
.nm_p{
    line-height:30px;
    font-size: 1.5em;
    text-align: center;
    color:#333;
    width:100%;
    border-radius: 5px;
    border: 1px #E39B41 solid;
    margin-top:10px;
}
.sign_ser .nm_p{
    width:100%;
    line-height:40px;
    margin:10px 0;
    background: none;    
}
.sign_ser label{
    width: 80px;
    text-align: center;
    border: 1px #ED9E40 solid;
    border-radius: 3px;
    line-height: 30px;
    color: #fff;
    font-weight: normal;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
}
.sign_ser label.check{
    background:#ff3d00;
}
.sign_ser label input[type="checkbox"]{
    width:auto;
    margin-left:-15px;
    opacity: 0;
    file:alpha(opacity=0);
}
.sign_ser p{
    line-height:30px;
    font-size:16px;
    color: #fff;
}
.search_inp{
    line-height: 35px;
    border-radius: 3px;
    border: 1px #E39B41 solid;
    height: 35px;
    width: 90%;
    padding-left: 5px;
    position: absolute;
    font-size: 1.2em;
    left: 5%;
    top: 2.5%;
}
.fa-search{
    line-height:30px;
    position:absolute;
    top:2.8%;
    right:6%;
    color:#E39B41;
}
.paper_list{
    font-size:1.3em;
}
.paper_list li{
    padding:15px 10px;
    border-bottom: 1px solid #ccc;
}
.paper_list li span:first-child{
    width:110px;
    display:inline-block;
    color: #fff;
}
.paper_list li span:nth-child(2){
    width: 158px;
    color: #fff;
    display: inline-flex;
}
.paper_list li span:last-child{
    float: right;
    color: #fff;
}
.msg_list{
    padding-top:50px;
    font-size:1.3em;

}
.det_m,.new_malf,.det_d{
    font-size:1.3em;
    color: #fff;
}
.w_evalu{
    padding:8px;
    margin-top:20px;
    border:1px #0ab2f5 solid;
    border-radius: 3px;
    font-size:1.3em;
}
.w_evalu span{
    line-height:30px;
    width:80px;
    color: #fff;
    display: inline-block;
}
.w_evalu li{
    color:#fa0;
    font-size:1.5em;
    vertical-align: baseline;
}
.new_malf input,.new_malf textarea{
    line-height:30px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border:1px #ED9E40 solid;
    width:100%;
    color: #333;
    padding-left:5px;
}
.new_malf textarea{
    width: 100%;
    resize:none;
    height: 100px;
    padding:5px;
}
.new_malf input[type="button"]{
    background: #ff3d00;
    color:#fff;
    padding-left:0;
}
.new_malf input[type="button"].a_room{
    width: 28%;
    line-height: 35px;
    margin: 15px 0;
    height: 35px;
}
.new_malf input[type="button"].cho_btn{
    width: 41%;
    margin-left: 6%;
    padding:0;
    background-color:#ccc;
}
.new_malf input[type="button"].checked_btn{
    background: #ff3d00;
}
.unshow{
    display:none;
}
.new_malf select,.new_malf option{
    width:100%;
    line-height:35px;
    height:35px;
}
.new_malf select{
    margin:15px 0;
}
.new_malf select.s_room{
    width: 70%;
}
.det_m input,.w_evalu input{
    border: none;
    border-radius: 3px;
    line-height: 35px;
    padding-left: 5px;
    height: 35px;
    width: 60%;
    color: #333;
}
.det_m select{
    border-radius: 3px;
    line-height: 35px;
    padding-left: 5px;
    height: 35px;
    width: 60%;
}
.det_m input[type="radio"],.det_m input[type="checkbox"]{
    height:0;
    opacity:0;
    width:auto;
    margin-left:-15px;
    filter:alpha(opacity=0);
}
.det_m textarea{
    width: 70%;
    resize: none;
    vertical-align: top;
}
.det_m label{
    background: #94CEFA;
    border-radius: 3px;
    margin-bottom:0;
    text-align:center;
    width:80px;
    line-height:30px;
    margin-left: 3px;
    color:#fff;
    font-weight:normal;
}
.det_m label.check_bg{
    background: #ccc;
    color:#333;
}
.w_evalu input{
    width: calc(100% - 96px);
    width: -moz-calc(100% - 96px);
    width: -webkit-calc(100% - 96px);
}
.w_evalu ul{
    display:inline-block;
}
.w_evalu ul li{
    float: left;
    margin-right: 5px;
}
.det_m ul,.det_d ul{
    width:200px;
}
.det_m li,.det_d li{
    margin-bottom:5px;
    line-height:35px;
    color: #fff;
}
.det_m li span:first-child{
    width:80px;
    text-align: right;
    display: inline-block;
}
.det_m li p{
    text-align: center;
    font-weight: 600;
    margin: auto;
    line-height: 22px;
}
.msg_list1{
    font-size:1.5em;
    line-height:70px;
    padding-top:0;
}
.msg_list li a, .msg_list1 li a{
    color:#fff;
}
.msg_list1 i{
    color:#E39B41;
    line-height:70px;
    padding-left:10px;
    padding-right:10px;
}
.msg_list1 li{
    border-radius: 5px;
}
.msg_list li,.msg_list1 li{
    border-bottom:1px #ccc solid;
    min-height:70px;
    margin-top: 15px;
    padding-bottom: 5px;
    color:#fff;
}
.msg_list li p{
    color:#fff;
    padding-top:10px;
    margin-left:80px;
}
.msg_list li img{
    width:70px;
    height:70px;
}
.msg_list span{
    color:#fff;
    padding:10px 5px;
}
.msg_title{
    padding:2% 4% 0;
    color: #fff;
}
.msg_title p{
    line-height:40px;
    font-size:20px;
}
.click_in{
    margin-top:30px;
    margin-bottom:30px;
    color:#fff;
    font-size:1.2em;
}
.click_in span{
    margin-left:5px;
    margin-right:5px;
}
.msg_img{
    width:100%;
    margin-bottom:10px;
}
.msg_in{
    color: #fff;
    font-size:14px;
    padding:0 4%;
}
.ad_form ul{
    height:200px;
}
.to_top{
    display:none;
    color:#0ab2f5;
    position: fixed;
    bottom:55px;
    right:13px;
    z-index:100;
}


@media only screen and (min-width: 1000px){
    .info_nom, .info_nom1{
        padding:5% 1% 5% 5%;
    }
    .change_build{
        padding:7%;
    }
}
@media only screen and (max-width: 450px){
    .info_nom, .info_nom1{
        padding:13% 1% 13% 10%;
    }
    .change_build{
        padding:17% 10%;
    }
}
@media only screen and (max-width: 410px){
    .info_nom, .info_nom1{
        padding:10% 1% 10% 10%;
    }
    .change_build{
        padding:15% 10%;
    }
}
@media only screen and (max-width: 370px){
    .info_nom, .info_nom1{
        padding:10% 1% 10% 10%;
    }
    .change_build{
        padding:13% 10%;
    }
}
@media only screen and (max-width: 340px){
    .payment{
        padding-top: 20px;
        width:140px;
        height:140px;
    }
    .payment p{
        font-size: 1.5em;
    }
    .payment input{
        height:26px;
        line-height: 26px;
    }

    .payment span{
        font-size:1.5em
    }
    .wait_pay{
        width:160px;
        height:160px;
    }
    .change_build{
        padding:7%;
    }
    .conf_btn input{
        width:40px;
        height:30px;
        line-height:30px;
    }
    .info_nom p, .info_nom1 p{
        font-size: 1.5em;
    }
    .change_build .fa-5{
        font-size:3em;
    }
    .bind_center ul li, .bind_center2 ul li, .bind_center3 ul li{
        font-size:1.1em;
    }
    .info_nom, .info_nom1{
        padding:5%;
    }
    .small_linkl, .small_linkr{
        width:80px;
        height:80px;
        padding-top:30px;
        top:140px;
    }
    .pros1{
    margin-top:0px;
}
    .pros1 li {
        margin-top: 2.5% !important;
    }
}
/************************投诉建议************************/
.advice{

}
.advice li{
    padding: 15px;
    margin-top: 1%;
    background: #f2f2f2;
    border-radius: 10px;
}
.advice li p.rep_c,.advice li span.rep_c{
    color:#ff8e00;
    display: inline-block;
    line-height:30px;
    margin-top:10px;
}
.advice li p,.advice li span{
    font-size:14px;
}
.advice li img{
    width:60px;
    height:60px;
    padding:5px;
}
#mask{
    display:none;
    background: #000;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity:0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}
#bigpic{

}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

#fancybox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 1100;
    display: none;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 0px;
    z-index: 1101;
    display: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
}

#fancybox-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#fancybox_error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 7px;
    margin: 0;
}

#fancybox-content {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}

#fancybox-frame {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

.fancy-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
}
#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-image: url('../images/fancybox.png');
    background-position: -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: none;
}
.adv_con,.adv_con1{
    font-size: 14px;
    line-height:30px;
    color: #fff;
}
.adv_con i,.adv_con1 i{
    color:#999;
}
.adv_con1 textarea,.adv_con textarea{
    padding:5px;
    width:100%;
    min-height:200px;
    resize:none;
    color: #333;
}
.adv_con1{
    float: left;
    margin-top:6px;
}
.adv_con li,.adv_con1 li{
    float:left;
    position:relative;
    margin-right:10px;
    width:55px;
    height:55px;
}
.adv_con li i,.adv_con1 li i{
    position: absolute;
    color: #E39B41;
    right: -5px;
    top: -5px;
    font-size: 20px;
}
.adv_con li i.fa-plus-square-o,.adv_con1 li i.fa-plus-square-o{
    color:#999;
}
.adv_con li img,.adv_con1 li img{
    border:1px #ccc solid;
    width:54px;
    height:54px;
}
.adv_con label,.adv_con1 label{
    width:70px;
    line-height:50px;
    background:none;
}
.adv_con input[type="file"],.adv_con1 input[type="file"]{
    width:0;
    opacity: 0;
    file:alpha(opacity=0);
    display:inline-block;
}
.adv_ed p{
    line-height: 50px;
    font-size: 20px;
    color:#fff;
    margin:50px;
    text-align:center;
}
.adv_con input[type="submit"],.adv_con1 input[type="submit"],.adv_ed input[type="button"]{
    border-radius: 3px;
    color:#fff;
    text-align: center;
    line-height: 40px;
    background: #ff3d00;
    border: 1px #ed9e40 solid;
    width:100%;
    font-size: 1.3em;
}  


#lrd1{
    animation:spin1 0.2s linear infinite;
    -webkit-animation: spin1 0.2s linear infinite;
    -o-animation:spin1 0.2s linear infinite;
    -moz-animation: spin1 0.2s linear infinite;

}
.wrap{
    display:none;
    position:absolute;
    left:50%;
    width:5em;
    height:5em;
    top:20%;
    transform: translate(-50%,-50%);
}
.loader{
  transition: all 0.5s ease-in-out;
  border:10px solid #ebebeb;
  border-bottom-color:#26B8BF;
  width:75%;
  height:75%;
  border-radius:50%;
  -webkit-font-smoothing: antialiased !important;
  margin:30px 0px;
}
@keyframes spin1{
  0% {
    transform: rotate(0deg);    
  }

  100% {
    transform: rotate(360deg); 
  }

}

.remind{
    display: none;
    position:fixed;
    margin:auto;
    width:250px;
    padding:20px;
    margin-top: -20px;
    margin-left: -20px;
    background-color:rgba(51,51,51,0.85);
    -webkit-border-radius: 15px;
    border-radius: 15px;}
.remind p{
    display:block;
    font-size:22px;
    color:#fff;
    text-align:center;}
.remind span{
    font-size:16px;
    color:#fff;
    width:auto;}
.remind input[type="button"]{
    margin: 10px 10%;
    border: none;
    font-size: 1.3em;
    line-height:35px;
    height:35px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:80%;
    background:#70b7fb;
    color:#fff;
    }
.remind input[type="button"].cancel{
    background:#ccc;
    color:#fff;
}
.remind input[type="button"].confirm{
    background:#f00;
    color:#fff;
}
.developing{
    width:100%;
    margin:auto;
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
    -mstransform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);
}
.bar {
    background: skyblue;
    height: 7px;
}
 /************************************维修************************************/
.bind_center3 ul.break_re{
    margin-top: 90px;
}
.bind_center3 ul.break_re div a{
    color: #fff;
    margin-top: 10px;
    line-height: 40px;
    background: #ff3d00;
    border: 1px #ed9e40 solid;
    padding: 8px;
    border-radius: 5px;
}
.bind_center3 ul.break_re div{
    width:82%;
    display:inline-block;
    color: #fff;
}
.bind_center3 ul.break_re i{
    position: absolute;
    top: calc(50% - 40px);
    top: -moz-calc(50% - 40px);
    top: -webkit-calc(50% - 40px);
    right: 20px;
    color: #ED9E40;
}
.guarent{
    color: #fff;
}
.don_mem{
    text-align: center;
}
.bind_center3 .don_mem p{
    padding:0;
}
.guarent li{
    border-bottom: 1px #ccc solid;
    font-size: 16px;
    line-height:30px;
}
.guarent li span{
    width:80px;
    display:inline-block;
}
.guarent li p{
    display:inline-block;
}
.guarent li img{
    width: 60px;
    height: 60px;
    margin: 5px 0;
}

